<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>79</TotalTime><Application>LibreOffice/5.4.5.1$Linux_X86_64 LibreOffice_project/40m0$Build-1</Application><Pages>18</Pages><Words>983</Words><Characters>6061</Characters><CharactersWithSpaces>6888</CharactersWithSpaces><Paragraphs>234</Paragraphs></Properties>