<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>304</TotalTime><Application>LibreOffice/5.4.5.1$Linux_X86_64 LibreOffice_project/40m0$Build-1</Application><Pages>2</Pages><Words>340</Words><Characters>2219</Characters><CharactersWithSpaces>2544</CharactersWithSpaces><Paragraphs>20</Paragraphs></Properties>